
###> symfony/framework-bundle ###
node_modules/
.vscode/
settings.json
secretnotes.md
/.vscode/*
/.env
.env
/public/*.txt
/cache/twig/*
/public/bundles/
/public/avatar/*
/public/logs/*
/public/zplfolder/*
/public/excelreportes/*
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
/npm-debug.log
/yarn-error.log
###< symfony/webpack-encore-pack ###
###> symfony/phpunit-bridge ###
#.phpunit
#/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
#/.web-server-pid
###< symfony/web-server-bundle ###

/composer.lock
# /config/packages/framework.yaml
# /public/.htaccess